body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
}
canvas {
    display: block;
    position: absolute;
    z-index: 1;
}
canvas.intro {
    -webkit-filter: blur(15px);
    filter: blur(15px);
}
.audio {
    position: absolute;
    z-index: 10;
    right: 3rem;
    bottom: 2rem;
    cursor: pointer;
}

.audio img {
    display: block;
}

.audio .btn {
    width: 150px;
    height: 150px;
    float: right;
    right: 0;
}

.intro {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(ext/border.png) no-repeat center center;
    background-size: 100%;
    -webkit-background-size: 100%;
}

.intro .img {
    max-width: 100%;
}

.intro .title {
    margin-bottom: 2rem;
}